# Ignore list for: kicad
*.bck
*-cache.lib
*.kicad_pcb-bak
*.sch-bak
*-cache

# Ignore list for: tex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
